<div class="container">
<h1 mat-dialog-title>Edit Person</h1>
<div mat-dialog-content>
  <form [formGroup]="formInstance">
    <div>
      <mat-form-field class="fullWidth" appearance="outline">
        <mat-label>Name *</mat-label>
        <input matInput type="text" name="name" formControlName="name">
        <mat-error *ngIf="formInstance.controls['name']?.errors?.required">field required</mat-error>
      </mat-form-field>
    </div>
    <div class="mt-5">
      <mat-form-field class="fullWidth" appearance="outline">
        <mat-label>About *</mat-label>
        <input matInput type="text" name="about" formControlName="about" />
        <mat-error *ngIf="formInstance.controls['about']?.errors?.required">field required</mat-error>
      </mat-form-field>
    </div>
    <div class="mt-5">
      <mat-form-field class="fullWidth" appearance="outline">
        <mat-label>Position *</mat-label>
        <mat-select name="position" formControlName="position">
          <mat-option value="Software Developer">Software Developer</mat-option>
          <mat-option value="Physician">Physician</mat-option>
          <mat-option value="Dentist">Dentist</mat-option>
          <mat-option value="Nurse">Nurse</mat-option>
        </mat-select>
        <mat-error *ngIf="formInstance.controls['position']?.errors?.required">field required</mat-error>
      </mat-form-field>
    </div>
    <div class="mt-5">
      <mat-form-field class="fullWidth" appearance="outline">
        <mat-label>Joining Date *</mat-label>
        <input matInput type="date" name="JoiningDate" formControlName="joiningDate" />
        <mat-error *ngIf="formInstance.controls['joiningDate']?.errors?.required">field required</mat-error>
      </mat-form-field>
    </div>
  </form>
</div>
<div class="mt-5" mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="save()"
    cdkFocusInitial>Yes</button>
  <button mat-raised-button mat-dialog-close>No</button>
</div>
</div>
