<div formGroupName="formInstance">
  <h2>Add Employee</h2>

  <label for="name">Name: </label>
  <input id="name" type="text" formControlName="name">

  <label for="about">About: </label>
  <input id="about" type="about" formControlName="about">

  <label for="position">Position: </label>
  <input id="position" type="text" formControlName="position">

  <label for="joiningDate">Joining Date: </label>
  <input id="joiningDate" type="text" formControlName="joiningDate">
  <button type="submit">submit</button>
</div>
